<%- include("partials/header") -%>
<h1>Compose</h1>
<div>
    <form action="/compose" method="post" class="form-group">
    <div>
    <label>Title</label> <br>
    <input type="text" name="title" class="form-control" id=""><br>
    <label>Post</label><br>
    <textarea name="content" id="" cols="40" rows="5" class="form-control"></textarea><br>
    </div>
    <Button class="btn btn-primary">Publish</Button><br>
    </form>
</div>
<%- include("partials/footer") -%>